body {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: 0.9em;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
}

.profile-info {
    background-color: #EAD1F8;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

.devise {
    font-size: 1.5em;
    color: #6A4873;
    font-weight: bold;
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #6A4873;
    margin-bottom: 5px;
}

.menu-item img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu-item div {
    margin-top: 5px;
}

/*Post*/
#post {
    background-color: #6A4873;
    color: #FFFFFF;
    padding: 30px 20px 10px 20px;
}

.post-chapo,
.post-content,
.post-author,
.post-modified {
    color: #6A4873;
}

.post-all {
    background-color: #BFADD9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-chapo {
    font-size: 1.2em; 
    font-weight: bold;
}

.post-modified {
    color: #6A4873;
    font-size: 0.9em;
}

#post h1 {
    color: #624FA0;
    text-align: center;
    font-size: 1.8em;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.post-author,
.post-modified {
    margin: 0;
}

.post-options {
    margin: 10px;
    text-align: center;
}

.post-options a {
    margin-right: 10px;
    font-size: 0.9em;
}

h2 {
    color: #624FA0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#contact {
    background-color: #BFADD9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#create-post {
    background-color: #BFADD9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#create-post h1 {
    color: #624FA0;
    text-align: center;
    margin-bottom: 20px;
}

#update-post {
    background-color: #BFADD9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#update-post h1 {
    color: #624FA0;
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
    color: #6A4873;
    margin-bottom: 5px
}

.form-control {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}
/*CV*/
#cv {
    text-align: center;
    margin-bottom: 20px;
}

#cv img {
    width: 100px; 
}

/*Footer*/
footer {
    background-color: #EAD1F8;
    color: #6A4873;
    padding: 20px 0;
    text-align: center;
}

.socials {
    margin-bottom: 20px;
}

.socials h2 {
    margin-bottom: 10px;
    color: #624FA0;
}

.socials a {
    display: inline-block;
    margin-right: 10px;
    color: #624FA0;
    text-decoration: none;
}

.footer-bottom {
    background-color: #BFADD9;
    color: #FFFFFF;
    padding: 10px 0;
    font-size: 0.8em;
}

/*Dashboard*/
.container-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.form-dashboard {
    flex: 0 0 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #EAD1F8;
    color: #624FA0
}

tr:hover {
    background-color: #f5f5f5;
}

.dashboard-btn-container {
    text-align: center;
    margin-top: 20px;
}

.dashboard-btn-container button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #624FA0;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.dashboard-btn-container button:hover {
    background-color: #EAD1F8;
    color: #624FA0;
}

.dashboard-image-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dashboard-image-container img {
    width: 150px;
    height: auto;
}

/* Logout */
.logout-container {
    text-align: center;
    padding: 50px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #624FA0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


/* Tablet styles */
@media only screen and (max-width: 992px) {
    .dashboard-image-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #post h1 {
        font-size: 1.6em; 
    }

    .post-chapo {
        font-size: 1em; 
    }

    .post-modified {
        font-size: 0.8em; 
    }

    .post-options a {
        font-size: 0.8em;
    }


    .container-dashboard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-dashboard,
    .dashboard-image-container {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard-btn-container button {
        padding: 8px 16px;
        font-size: 14px;
    }

    table {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-btn-container button {
        font-size: 14px;
        padding: 8px 16px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 5px;
    }

    .container-dashboard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dashboard-image-container img {
        width: 100px;
    }

    .profile-picture img {
        width: 50px; 
        height : auto;
    }

    .devise {
        font-size: 10px; /* Réduire la taille du texte */
    }
    body {
        font-size: 12px;
    }

    .container-dashboard {
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    .form-dashboard,
    .dashboard-image-container {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .dashboard-image-container {
        margin-top: 20px;
    }

    .dashboard-image-container img {
        width: 100px;
        height: auto;
    }
    .dashboard-btn-container button {
        padding: 8px 16px;
        font-size: 14px;
    }

    #post h1 {
        font-size: 1.4em; 
    }

   .post-chapo {
        font-size: 0.9em; 
    }

    .post-modified {
        font-size: 0.7em; 
    }

    .post-options a {
        font-size: 0.7em; 
    }

    .menu-item img {
        width: 20px;
    }
}