#post {
    background-color: #6A4873;
    color: #FFFFFF;
    padding: 20px;
}

.post-chapo, .post-content, .post-author, .post-modified {
    color: #EAD1F8;
}

.container {
    background-color: #BFADD9;
    padding: 20px;
    border-radius: 10px;
}

#post h1 {
    color: #624FA0;
}